
<!-- -------------------------　タイトルバー表示　------------------------- -->
<% provide :title, " | トップページ" %>

<!-- -------------------------　タイトル　------------------------- -->
<div class="box1">
    <h1><a href="/">Chari</a></h1>
<p><%= "＜トップページ（レコメンド）＞" %><p>
</div>

<!-- -------------------------　ナビゲーションバー　------------------------- -->

<div class="box2">
<nav class="menu">
<ul>
<% if user_signed_in? %>
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "公開ページ", "/courses" %></li>
    <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
    <li><%= link_to "書き込む", new_course_path %></li>
    <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "公開ページ", "/courses" %></li>
    <li>マイページ</li>
    <li>書き込む</li>
    <li><%= link_to "サインイン", new_user_session_path %></li>
<% end %>

</ul>
</nav>
</div>


<!-- -------------------------　コンテンツ　------------------------- -->
<div class="A">
    <div class="box3">


<% @official.each do |ofc| %>
<article class="special">
    <p>タイトル：<%= ofc.title %></p>
    <p>nickname：［<%= ofc.user.nickname %>］</p>
    <p>コースID：<%= ofc.id %></p>
    <p><%= link_to "詳細", "/courses/#{ofc.id}" %>（ → マイルートに加える）</p>
</article>
<% end %>



<article class="special">
    <p>広告ルート</p>
    <p>　→　マイルートに加える</p>
</article>
<article class="special">
    <p>公開中の人気ルート１</p>
    <p>　→　マイルートに加える</p>
</article>
<article class="special">
    <p>公開中の人気ルート２</p>
    <p>　→　マイルートに加える</p>
</article>
<article class="special">
    <p>広告ルート</p>
    <p>　→　マイルートに加える</p>
</article>



<!-- ----------　ページネーション　----------- -->
<div>
    ページネーション
</div>

</div>


<!-- -------------------------　サイドバー　------------------------- -->
<div class="box4">

<div class="search-box">       
検索ボックス
</div> 


	<aside class="sidemenu">
		<h1>マイページ</h1>
		<hr>
		<ul>
		<li><a href="#">未踏ルート１</a></li>
		<li><a href="#">未踏ルート２</a></li>
		<li><a href="#">未踏ルート３</a></li>
		<li><a href="#">未踏ルート４</a></li>
		<hr>
		<li><a href="#">周遊済ルート１</a></li>
		<li><a href="#">周遊済ルート２</a></li>
		<li><a href="#">周遊済ルート３</a></li>
		</ul>
	</aside>
        
    </div>
</div>




<!-- -------------------------　ボトム　------------------------- -->
<div class="box5">
リンク：<a href="">HTMLページへ</a>
<div>運営：Wordscape</div>
</div>
