<%= form_for(@course, :url => {:action => 'create'}) do |f| %>
    <div class="field">
        <%= f.label :title %>
        <p><%= f.text_field :title %></p>
        <%= f.label :place %>
        <p><%= f.text_field :place %></p>
        <%= f.label :map %>
        <p><%= f.text_field :map %></p>
        <%= f.label :detail %>
        <p><%= f.text_field :detail %></p>
        <%= f.label :distance %>
        <p><%= f.text_field :distance %></p>
        <%= f.label :record_date %>
        <p><%= f.text_field :record_date %></p>
        <%= f.submit "書き込む" %>
    </div>
<% end %>
        
        
        
        






