
<!-- -------------------------　タイトルバー表示　------------------------- -->
<% provide :title, " | マイページ" %>

<!-- -------------------------　タイトル　------------------------- -->
<div class="box1">
    <h1><a href="/">Chari</a></h1>
<p><%= "＜#{@nickname} さんのマイページ＞" %><p>
</div>

<!-- -------------------------　ナビゲーションバー　------------------------- -->

<div class="box2">
<nav class="menu">
<ul>
<% if user_signed_in? %>
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "公開ページ", "/courses" %></li>
    <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
    <li><%= link_to "書き込む", new_course_path %></li>
    <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
    <li><%= link_to "書き込む", new_user_session_path %></li>
    <li><%= link_to "マイページ", new_user_session_path %></li>
    <li><%= link_to "サインイン", new_user_session_path %></li>
<% end %>

</ul>
</nav>
</div>

<!-- -------------------------　コンテンツ　------------------------- -->
<div class="A">
    <div class="box3">





<% @courses.each do |cs| %>
<article class="kiji">
    <p>タイトル：<%= cs.title %></p>
    <p>場　　所：<%= cs.place %></p>
    <p>詳　　細：<%= cs.detail %></p>
    <p>距　　離：<%= cs.distance %>km</p>

</article>
<% end %>


<!-- ----------　ページネーション　----------- -->
 </div>

<!-- -------------------------　サイドバー　------------------------- -->
<div class="box4">


<div class="search-box">       
検索ボックス
</div> 

	<aside class="sidemenu">
		<h1>マイページ</h1>
		<hr>
		<ul>
		<li><a href="#">未踏ルート１</a></li>
		<li><a href="#">未踏ルート２</a></li>
		<li><a href="#">未踏ルート３</a></li>
		<li><a href="#">未踏ルート４</a></li>
		<hr>
		<li><a href="#">周遊済ルート１</a></li>
		<li><a href="#">周遊済ルート２</a></li>
		<li><a href="#">周遊済ルート３</a></li>
		</ul>
	</aside>
        
    </div>
</div>




<!-- -------------------------　ボトム　------------------------- -->
<div class="box5">
リンク：<a href="">HTMLページへ</a>
<div>運営：Wordscape</div>
</div>

