<!-- -------------------------　タイトルバー表示　------------------------- -->
<% provide :title, " | マイページ　詳細" %>

<!-- -------------------------　タイトル　------------------------- -->
<div class="box1">
    <h1><a href="/">Chari</a></h1>
<p><%= "＜マイページ（ルート詳細）＞" %><p>
</div>

<!-- -------------------------　ナビゲーションバー　------------------------- -->

<div class="box2">
<nav class="menu">
<ul>
<% if user_signed_in? %>
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "公開ページ", "/courses" %></li>
    <li><a href="/users/<%= current_user.id %>">マイページ</a></li>
    <li><%= link_to "書き込む", new_course_path %></li>
    <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
<% else %>
    <li><%= link_to "トップページ", root_path %></li>
    <li><%= link_to "公開ページ", "/courses" %></li>
    <li>マイページ</li>
    <li>書き込む</li>
    <li><%= link_to "サインイン", new_user_session_path %></li>
<% end %>

</ul>
</nav>
</div>




<!-- -------------------------　コンテンツ　------------------------- -->
<div class="A">
    <div class="box3">

<article class="kiji">

    <p>タイトル：<%= @course.title %></p>
    <p>地　　域：<%= @course.place %></p>
    <p>地　　図：<%= @course.map %></p>
    <p>詳　　細：<%= @course.detail %></p>
    <p>距　　離：<%= @course.distance %>km</p>
    <p>日　　付：<%= @course.record_date %></p>
    <p>nickname：<%= @course.user.nickname %></p>
    <p>コースID：<%= @course.id %></p>

    <%= button_to "マイルートに加える", { action: "copyrecord", id: @course.id }, method: :post %>

<% @reports.each do |rp| %>
    <article class="tweet">
    <% if rp.photo? %>　<!--　なければ -->
        <p>　　写　　　　真：なし</p>
    <% else %>
        <p><%= image_tag(rp.photo) %></p>
    <% end %>
    <p>キャプション：<%= rp.caption %></p>
    <p>記　　　　事：<%= rp.post %></p>
    </article>
<% end %>

</article>


     </div>
 </div>

<!-- ----------　ページネーション　----------- -->




<!-- -------------------------　サイドバー　------------------------- -->
<div class="box4">

    <div class="search-box">       
        検索ボックス
    </div> 

	<aside class="sidemenu">
		<h1>マイページ</h1>
		<hr>
		<ul>
		<li><a href="#">未踏ルート１</a></li>
		<li><a href="#">未踏ルート２</a></li>
		<li><a href="#">未踏ルート３</a></li>
		<li><a href="#">未踏ルート４</a></li>
		<hr>
		<li><a href="#">周遊済ルート１</a></li>
		<li><a href="#">周遊済ルート２</a></li>
		<li><a href="#">周遊済ルート３</a></li>
		</ul>
	</aside>
        
</div>


<!-- -------------------------　ボトム　------------------------- -->
<div class="box5">
リンク：<a href="">HTMLページへ</a>
<p>運営：Wordscape</p>
</div>
